<a href="{% url 'new' %}">글쓰기</a>

    <h1 style="background-color:orange; color:red;"> 제목 : {{ blog.title }}</h1>
    <p style="background-color:orange; color:red;"> 날짜 : {{ blog.pub_date }}</p>
    <p style="background-color:orange; color:red;"> 미리보기 : {{ blog.summary }}<a href="#">...more</a></p>

    
<div>
    <div class="container">
    {%if posts.has_previous%}
    <a href="?page=1">First</a>
    <a href="?page={{posts.previous_page_number}}">Previous</a>
    {%endif%}

    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>

    {%if posts.has_next%}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{posts.paginator.num_pages}}">Last</a>
    {%endif%}
  </div>   
</div>
